@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #FAFAFA;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #98090B;
    outline: none;
  }
  
  input[type="radio"]:checked {
    background: radial-gradient(circle at center, #98090B 50%, transparent 20.5%);
  }
  
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
  
    border: 1px solid #98090B;
    outline: none;
  }
  
  input[type="checkbox"]:checked {
    background: radial-gradient(circle at center, #98090B 50%, transparent 20.5%);
  }

  .popup-backdrop {
    
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    /* Ensure it's above other content */
  }
  
/*  Scrollbar hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.bg-student {
  background-image: url(./assets/StudentDash.png);
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  width: 100%;
}

.bg-agent {
  background-image: url(./assets/AgentDash.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.loader {
  border: 10px inset tomato;
  padding: 12px;
  transform: rotate(45deg);
  animation: loader1 1s ease-in-out infinite;
}
@keyframes loader1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}
.zindex {

  z-index: 3;
}
/* Apply Poppins font globally to the modal */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

/* Title styling */
.swal-title {
  font-size: 16px;
  font-weight: 500;
}

/* Custom action button styling */
.swal-actions {
  display: flex;
  justify-content: space-between; /* Align cancel and confirm buttons */
  gap: 10px;
}

/* Cancel button styling */
.swal-cancel {
  font-size: 14px;
  padding: 8px 36px;
  color: #d33;
  border: 1px solid #d33;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

/* Confirm button styling */
.swal-confirm {
  font-size: 14px;
  padding: 8px 36px;
  color: #fff;
  background-color: #98090B;
  border-radius: 5px;
  cursor: pointer;
}
